 <% t =  data.origen%>
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
      <label for="navi-toggle" id="tratamiento-navigation__button">
        <span class="navigation__icon--1">&nbsp;</span>
        <span class="navigation__icon--2">&nbsp;</span>
        <span class="navigation__icon--3">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>

</div>


<div id="sidebar" class= "width-zero">
  <div class="sidebar">

    <a href="../" class="sidebar-top">
      <div class="sidebar-top__title">      
        <h2>Tumores Neuroendocrinos</h2>
      </div>
    </a>

    <div class="sidebar-content  ">
     
      <a href= "../factores-de-riesgo.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h5>Epidemiología</h5>
        </div>
      </a>
      
      <a href= "../profilaxis.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h5>Factores de Riesgo</h5>
        </div>
      </a>

      <a href= "../profilaxis.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h5>Biología molecular</h5>
        </div>
      </a>

      <div class="sidebar-content__modulo-current ">
        <a id= "tratamiento" class="sidebar-content__item sidebar-content__title ">
          <div id= "contenidos" >        
            <h5>Clasificación</h5>
          </div>
          <i class="fas fa-chevron-down sidebar-content__chevron-up"></i>
        </a>
        
      </div>

      


      


      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
  </div>


 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

  </div>
</div>
