
<% t =  data.origen%>
<div id="home">
  <%=partial(:'components/sidebar-factores')  %>

  <div id="main">
    <div class="container">
      <div class="content">

        <div id="factores-presentacion">

        <%= partial(:'components/header1', :locals => { :text => "Factores de riesgo"}) %>     
          <p class= "margin5 "> La mayoría son esporádicos, y solo un 10% aparecen asociados a un síndrome genético familiar hereditario, como la neoplasia endocrina múltiple, el síndrome de Von Hippel-Lindau, la neurofibromatosis tipo 1 o el síndrome de esclerosis tuberosa (ver sección: Biología Molecular).</p>
    
          <p class= "margin5 "> Sin embargo, se piensa que determinados individuos pueden presentar una predisposición a través de múltiples variantes genéticas de baja penetrancia, p.e. polimorfismos en genes como Tumor Necrosis Factor (TNF-α) o Interleukin 1 beta (IL1β), que regulan el estado pro-inflamatorio del estroma.</p>

    
          <p class= "margin5 "> La interacción de esta predisposición genética con causas ambientales no se conoce bien. No obstante, diversos estudios han descrito factores de riesgo que parecen influir en el desarrollo de estos tumores.</p>

    
          <p class= "margin5 "> El nivel de evidencia en la mayoría de estudios epidemiológicos orientados a la búsqueda de factores causales ha sido bajo, y algunas asociaciones descritas en la literatura podrían tener un origen fortuito, por lo que se necesitan más estudios en este campo.</p>
    
          <p class= "margin5 "> Entre los factores de riesgo se encontrarían determinadas ocupaciones industriales, el estatus socioeconómico, el tabaquismo, la ingesta de alcohol, los niveles bajos de colesterol unido a lipoproteínas de alta densidad (HDL), la diabetes mellitus, el síndrome metabólico, el índice de masa corporal elevado, y el elevado consumo de grasas saturadas.</p>


          <div class="concepto-clave">
            <p class= 'concepto-clave__title'>Importante</p>  
            <div class= "list">
              <div class="list__line container__highlight">
                <div class="list__star"><b>1</b></div> 
                <div class="list__item"> La mayoría de TNE gastroenteropancreáticos son esporádicos (90%).</div>
              </div> 
              <div class="list__line container__highlight">
                <div class="list__star"><b>2</b></div> 
                <div class="list__item"> La etiología de los TNE no se conoce, pero podría deberse a la interacción entre una predisposición genética y factores ambientales.</div>
              </div> 
              <div class="list__line container__highlight">
                <div class="list__star"><b>3</b></div> 
                <div class="list__item"> Factores de riesgo comunes a otras neoplasias como el tabaco, alcohol, la obesidad se han asociado con incremento del riesgo de TNE gastroenteropancreáticos.</div>
              </div>  
            </div>    
          </div>  

        </div>
        <br><br>

        

  
  </div>

      <%= partial(:'components/siguiente',  :locals => { :link => "../tratamiento.html"}) %> 
</div>
  <%= javascript_include_tag "modulo2" %>